@import '../../../../components/constants.module.scss';

.contributors {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
  .contributorTitle {
    color: $text-primary;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .contributorsNumber {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: $contributor-count-color;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $contributor-count-bg;
  }
  