$border-radius: 6px;
$brand: #1F883D;
$brand-hover: #1f883db3;
$brand-active: #487773;

$text-secondary: #AFADB5;
$text-primary: #000000;
$text-accent: #1F883D;

$maxline-count: 0;

$button-primary-bg: #1F883D;
$button-primary-bg-active: #08531D;
$button-primary-bg-disabled: #D9D9D9;
$button-primary-bg-hover: #1f883db3;
$button-primary-text: #FFFFFF;

$space-xxs: 8px;
$space-s: 14px;
$space-l: 20px;
$space-xl: 24px;
$space-m: 16px;
$space-xs: 12px;

$checkbox-border-hover: #1F883D;
$checkbox-bg: #FFF;
$checkbox-bg-disabled: #FFFFFF80;
$checkbox-bg: #FFFFFF;
$checkbox-check-hover: #1F883D;
$checkbox-check-disabled: #00000033;
$checkbox-check: #1F883D;

$input-placeholder: #AFADB5;
$input-border: #fff;
$input-border-focus: #1F883D;
$input-bg: #fff;
$input-bg-focus: #fff;

$card-bg: #fff;
$card-image-bg: #D9D9D9;
$card-shadow: #00000040;

$header-border: #d9d9d9;

$star-accent: #FF9432;

$pages-bg: #f6f8fa;
$pages-bg-other: #fff;

$pagination-text: #000;
$pagination-text-active: #fff;

$link-color: #0080ff;

$contributor-border-color: #ECEBEB;
$contributor-name-color: #AFADB5;
$contributor-count-color: #0000009e;
$contributor-count-bg: #d9d9d9;

$topic-color: #0066CC;
$topic-bg: #DAEDFF;